Post {
}

.post-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.8rem;
  border-bottom: 1px solid #d4edfd;
}

.post-items {
  margin: 0.4rem;
}

.post-user-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2.post-user-fullname {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-right: 0.5rem;
}

p.post-user-username {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 0.9rem;
  color: grey;
}

img.post-user-img {
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

p.post-text {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5em;
  font-size: 0.9rem;
}

.post-actions {
  display: flex;
  justify-content: flex-start;
}

.post-icon-box {
  margin-right: 3rem;
}

.post-actions-icon {
  padding: 0.5rem;
  border-radius: 50%;
  /* margin-right: 3rem; */
  font-size: 0.9rem;
  color: #929aab;
}

.post-icon-box:hover .post-actions-icon {
  background-color: #d4edfd;
}

.post-icon-box:hover {
  cursor: pointer;
}

.post-action-count {
  font-size: 0.9rem;
  color: #929aab;
}

.post-icon-box:hover .comment-icon,
.post-icon-box:hover .post-comment-count {
  color: rgba(29, 161, 242, 1);
}

.post-icon-box:hover .retweet-icon,
.post-icon-box:hover .post-retweet-count {
  color: #58b368;
}

.post-icon-box:hover .heart-unfilled-icon,
.post-icon-box:hover .post-liked-count,
.heart-filled-icon {
  color: rgb(224, 36, 94);
}
